<div>
    <!-- <div className="navbar-bg">
    <nav class="navbar navbar-expand-lg navbar-light ">
      <div class="container">
        <a class="navbar-brand" href="#">
          Online Passport
        </a>
        <div>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" to="/">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" to="/Service">
                Services
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" to="/About">
                About
              </a>
            </li>
          </ul>
          <form class="d-flex">
            <button class="btn  btn-style " type="submit">
              Sign Up
            </button>
          </form>
        </div>
      </div>
    </nav>
    </div> -->
    <div className="navbar-dg" align="center">
          <h1 className="display-3" >
          About Us
          </h1>
        </div> 
    <div className="navbar-bg">
    <img
            src="../../assets/service2.jpg"
            alt="serviceimg"
            width="100%"
            className="img-fluid"
          />
      </div>    
      <div className="navbar-cg" align="center">
          <h1 className="display-3" >
          Our mission & values
          </h1>
          <p className="main-hero-para" >
          Online Passport is committed to complying with local laws and regulations as well as applying 
          a strict global code of conduct to all employees. It believes that ethical management 
          is not only a tool for responding to the rapid changes in the global business environment,
           but also a vehicle for building trust with its various stakeholders including customers,
            shareholders, employees, business partners and local communities. With an aim to become
             one of the most ethical companies In the world, Online Passport continues to train its employees
              and operate monitoring systems, while practicing fair and transparent corporate management.
          </p>
        </div>
        <div className="navbar-bg">
    <img
            src="../../assets/hero3.jpg"
            alt="servicmg"
            width="100%"
            className="img-fluid"
          />
      </div> 
      <div className="navbar-cg" align="center">
          <h1 className="display-3" >
          Our mission & approach
          </h1>
          <p className="main-hero-para" >
          Online Passport follows a simple business philosophy: to devote its talent 
          and technology to creating superior services that contribute 
          to a better global society. To achieve this, Online Passport sets a high value 
          on its people and technologies.
          </p>
        </div> 
        <footer>
        <div className="container">
      <div className="row">
        <div className="col-12 col-lg-10 mx-auto">
          <div className="row">
            <div className="col-6 col-lg-4">
              <h2>Legal Information</h2>
              <ul>
                <li>
                  <a href="#">Privacy</a>
                </li>
                <li>
                  <a href="#">Terms & Cond.</a>
                </li>
              </ul>
            </div>

            <div className="col-6 col-lg-3">
              <h2>Help</h2>
              <ul>
                <li>
                  <a href="#">Feedback</a>
                </li>
                <li>
                  <a href="#">FAQs</a>
                </li>
              </ul>
            </div>

            <div className="col-6 col-lg-3">
              <h2>Follow Us</h2>
              <div className="row">
                <div className="col-3 mx-auto">
                  <a
                    href="https://www.facebook.com/profile.php?id=100071912239717"
                    target="_opm"
                  >
                    <i class="fab fa-facebook-f fontawesome-style"></i>
                  </a>
                </div>
                <div className="col-3 mx-auto">
                  <a
                    href="https://www.instagram.com/onlinepassportoffice/"
                    target="_opm"
                  >
                    <i class="fab fa-instagram fontawesome-style"></i>
                  </a>
                </div>
                <div className="col-3 mx-auto">
                  <a
                    href="https://www.youtube.com/channel/UCtf2ytJaoyMsn0_riNFJYfw"
                    target="_opm"
                  >
                    <i class="fab fa-youtube fontawesome-style"></i>
                  </a>
                </div>
                <div className="col-3 mx-auto">
                  <a
                    href="https://twitter.com/OnlinePassport4"
                    target="_opm"
                  >
                    <i class="fab fa-twitter fontawesome-style"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div className="mt-5">
            <p className="main-hero-para text-center w-100">
              Copyright @ 2021 Online Passport. All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
    </footer>
</div>

