<div class="container-fluid" style="margin-top: 15px;" >
    <div id="demo" class="carousel slide" data-ride="carousel">
  
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          
          <img src="../../assets/hero1.jpg"  style="width:100%; height: 500px" >
          <!-- <div class="top-left">Login</div> -->
        </div>
        <div class="carousel-item">
          <img src="../../assets/hero3.jpg" style="width:100%; height: 500px" >
          <div class="bottom-left">Complete Registration</div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/hero3.jpg" style="width:100%; height: 500px">
          <div class="top-left">Receive Your Passport</div>
        </div>
      </div>
      
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
  <div class="container-fluid" id="getstarted" >
    <h2>Trusted by Over 6000+ Customers</h2>
    <p>Register Today with the Online Passport Managment and Submit your application to the passport company near you</p>
          <button class="serch" routerLink="login">Get Started</button>
  </div>
  
  <div class="container-fluid" id="viewcourses">
    <div class="row">
      <div class="col-sm">
        <img src='../../assets/hero3.jpg' style="width:100%; height: 500px" >
      </div>
      <div class="col-sm">
        <div class="viewcourses">
          <h1 style="text-align: center; ">Are you a User or Company!!</h1>
          <!-- <p>"Hello, Welcome to Online Passport Office, your new stop to Apply your passport and get it delivered to yourself. We know that in this Global Pandemic it's hard to step-out and Apply Offline Passport. So let us take care of that, and Apply your Online Passport Today!!!."</p> -->
          <button class="serch" routerLink="login/user">User</button>
          <button class="serch" routerLink="login/company">Company</button>
        </div>
      </div>
      
    </div>
  </div>
  
  
  
  <div class="container" id="aboutus">
    <h2>Online Passport Made
      Easy For You.</h2>
    <p>Hello, Welcome to Online Passport Office, your new stop to Apply your passport and get it delivered to yourself. We know that in this Global Pandemic it's hard to step-out and Apply Offline Passport. So let us take care of that, and Apply your Online Passport Today!!!.</p>
          
  </div>
  
  
  
  
<div class="footer  container-fluid Sticky footer "  id="footer">
  <div class="row">
    <div class="col-sm">
      <a id="contact" class="nav-item nav-link">CONTACT US</a>
      <p>
        Call: +344-001001001 / 9211<br>
        Email: info@onlinepassport.com<br>
        Visit: 1st Floor, Block – B,<br>
        Telephone Towers,
        Hitech City,
        Hyderabad, Telangana</p>
    </div>
    <div class="col-sm" id = "contactUs">
      
      <!-- <a class="nav-item nav-link" id="aboutus">ABOUT US</a> -->
      <p>Online Passport Ltd | © 2022 </p>
    </div>
    <div class="col-sm">
      <p style="text-align: center; color: rgb(27, 107, 255);">FOLLWO US ON</p>
      <ul >
      <ul><a href="https://www.facebook.com/profile.php?id=100071912239717" class="bi bi-facebook">Facebook</a></ul>
      <ul> <a href="https://twitter.com/OnlinePassport4" class="bi bi-twitter">Twitter</a></ul>
      <ul> <a href="https://www.instagram.com/onlinepassportoffice/" class="bi bi-instagram">Instagram</a></ul>
      <ul> <a href="https://www.youtube.com/channel/UCtf2ytJaoyMsn0_riNFJYfw" class="bi bi-youtube">Youtube</a></ul>
    </ul>
    </div>
  </div>
</div>

  
  
  
  
  
     
    
  
